<div class="friends">
  <% page?.friends.forEach((group)=>{ %>
    <section class="group">
      <div class="group-head">
        <i class="<%= group.icon %>"></i>
        <span class="title"><%- group.group %></span>
        <span class="description"><%- group.desc %></span>
      </div>
      <div class="group-body">
        <% group?.items.forEach((friend) => { %>
          <a class="friend" href="<%- friend.url %>">
            <div class="avatar"><img src="<%- url_for(friend.avatar) %>" alt="<%= friend.name %>"></div>
            <div class="info">
              <div class="name"><%- friend.name %></div>
              <div class="description"><%- friend.desc %></div>
            </div>
          </a>
        <% }) %> 
      </div>
    </section>
  <% }) %> 
</div>
<article class="page">
  <%- page.content %>
</article>
<%- partial('./_partials/comments.ejs') %>
