<!DOCTYPE html>
<html <% if(config.language){ %>lang="<%= config.language %>"<% } %> class="<%- theme.colormode === 'dark' ? 'dark' : '' %>">
<%- partial('./_partials/head.ejs') %>
<body>
  <% if (theme.loading.enable) { %><%- partial('./_partials/loading', {}, {cache: true}) %><% } %>
  <% if (theme.navigator.enable) { %><%- partial('./_partials/navigator') %><% } %>
  <% if (theme.header.enable) { %>
    <%- partial('./_partials/header') %>
  <% } else { %>
    <div id="header" class="h-16 !m-0"></div>
  <% } %>

  <div id="main" class="<%= theme.sidebar.enable ? 'double-column' : 'singal-column' %>">
    <div id="content">
      <%- body %>
    </div>
    <% if (theme.sidebar.enable) { %>
      <div id="sidebar"><%- partial('./_partials/sidebar') %></div>
    <% } %>
  </div>
  <% if (theme.footer.enable) { %>
    <%- partial('./_partials/footer', {}, {cache: true}) %>
  <% } else { %>
    <div id="footer" class="!hidden"></div>
  <% } %>
  <% if (theme.fabs.enable) { %><%- partial('./_widgets/fabs') %><% } %>
</body>
</html>
