<article class="post">
  <%- page.content %>
</article>
<div class="prev-next">
  <% if(page.prev) { %>
  <% let prev_cover = getCover(page.prev) %>
  <a 
    class="prev <%= prev_cover.type=='none'?'no-cover':'' %>" 
    href="<%= url_for(page.prev.path) %>"
    <% if(prev_cover.type!=='none') { %> 
    style="background-image:url('<%- url_for(prev_cover.path) %>')"
    <% } %>
  >
    <span class="deixis">上一篇</span>
    <span class="title"><%= page.prev.title %></span>
  </a>
  <% } else { %>
  <span class="blank"></span>
  <% } %> 
  <% if(page.next) { %>
  <% let next_cover = getCover(page.next) %>
  <a 
    class="next <%= next_cover.type=='none'?'no-cover':'' %>" 
    href="<%= url_for(page.next.path) %>" 
    <% if(next_cover.type!=='none') { %>
    style="background-image:url('<%- url_for(next_cover.path) %>')"
    <% } %>
  >
    <span class="deixis">下一篇</span>
    <span class="title"><%= page.next.title %></span>
  </a>
  <% } else { %>
  <span class="blank"></span>
  <% } %> 
</div>