<article class="post">
  <%- page.content %>
</article>
<div class="prev-next">
  <% if(page.prev) { %>
  <a 
    class="prev <%= page.prev.cover?'':'no-cover' %>" 
    href="<%= url_for(page.prev.path) %>"
    <% if(page.prev.cover) { %> 
    style="background-image:url('<%- url_for(page.prev.cover) %>')"
    <% } %>
  >
    <span class="deixis">上一篇</span>
    <span class="title"><%= page.prev.title %></span>
  </a>
  <% } %>
  <% if(page.next) { %>
  <a 
    class="next <%= page.next.cover?'':'no-cover' %>" 
    href="<%= url_for(page.next.path) %>" 
    <% if(page.next.cover) { %> 
    style="background-image:url('<%- url_for(page.next.cover) %>')"
    <% } %>
  >
    <span class="deixis">下一篇</span>
    <span class="title"><%= page.next.title %></span>
  </a>
  <% } %>
</div>