<%# 引入变量：post对象%> 
<% 
let cover = getPageCover(post);
if(cover.type === 'blur' || cover.type === 'material'){
    if(cover.position === 'alter') {
        cover.position= index%2==0 ? 'left' : 'right';
    }
}
let cover_class = [];
if(cover.type === 'none') { 
    cover_class.push('no-cover');
} 
else if(cover.type === 'blur') {
    cover_class.push('blur-cover');
}
else if(cover.type === 'material') {
    cover_class.push('material-cover');
} 
else if(cover.type === 'full') {
    cover_class.push('full-cover');
} 
if((cover.type === 'blur' || cover.type === 'material') && cover.position === 'left') {
    cover_class.push('left-cover');
}
else if((cover.type === 'blur' || cover.type === 'material') && cover.position === 'right') {
    cover_class.push('right-cover');
}
%>
<div class="post-item <%= cover_class.join(' ') %>">
    <% if(cover.type !== 'none' && cover.type !== 'full') { %>
    <div class="post-cover">
        <a href="<%= url_for(post.path) %>">
            <%- image_tag(url_for(cover.path),{
                alt: post.title,
                class: 'cover-img',
                crossOrigin: ''
            }) %></a>
    </div>
    <% } %>
    <div class="post-info">
        <%# 文章信息 %>
        <div class="post-meta post-meta-line-1">
            <%# 发布日期 %>
            <span class="post-date">
                <i class="ri-calendar-fill"></i>
                <span><%= post.date.locale(config.language).format('ll') %></span>
            </span>
            <%# 文章字数 %>
            <span class="post-wordcount">
                <i class="ri-font-size-2"></i>
                <span>共<%= wordcount(post.content) %>字</span>
            </span>
            <%# 文章阅读时长 %>
            <span class="post-readtime">
                <i class="ri-time-fill"></i>
                <span>约<%= min2read(post.content) %>分钟</span>
            </span>
        </div>
        <%# 文章标题 %>
        <div class="post-title">
            <a href="<%= url_for(post.path) %>"><%= post.title %></a>
        </div>
        
        <div class="post-meta post-meta-line-2">
            <%- partial('../_meta/post_category', { post: post }) %>
            <%- partial('../_meta/post_tag', { post: post }) %>
        </div>

        <%# 文章摘要 %>
        <div class="post-excerpt">
            <a href="<%= url_for(post.path) %>"><%= post.excerpt %></a>
        </div>
    </div>
    <%_ if(cover.type !== 'material' && cover.type !== 'normal') { _%>
    <div class="background <%- cover.type === 'none' ? 'bg-gradient-'+Math.floor(Math.random()*10) : '' %>">
    <%_ if(cover.type === 'blur' || cover.type === 'full') { _%>
        <%- image_tag(url_for(cover.path),{
            alt: post.title,
            class: 'background-img',
            crossOrigin: 'anonymous'
        }) _%>
    <%_ } _%></div>
    <%_ } _%>
</div>