<%- partial('../_partial/navigator') %>
<% 
    const headerConfig = theme.header;
    // console.log('header',headerConfig);
%>
<%_ if(headerConfig.enable) { _%>
<div id="header">
    <%_ if(is_home()) { _%>
    <div class="cover home-cover" style="height:<%- headerConfig.height %>">
        <!-- Header Background Section -->
        <%_ if(headerConfig.cover.type=='none') { _%>
        <%_ } else if(headerConfig.cover.type=='normal') { _%>
        <div class="background" style="background-image:url(<%- url_for(headerConfig.cover.image) %>)"></div>
        <%_ } else if(headerConfig.cover.type=='random') { _%>
        <div class="background">
            <script>
                let bgList = [<%- headerConfig.cover.image.toString() %>];
                let bg = document.querySelector('#header .cover .background');
                bg.style.backgroundImage = 'url(<%- url_for(bgList[Math.floor(Math.random()*bgList.length)]) %>)';
                bg.innerHTML = null;
            </script>
        </div>
        <%_ } else if(headerConfig.cover.type=='custom') { _%>
        <div class="background" style="background:<%- headerConfig.cover.image %>"></div>
        <%_ } else if(headerConfig.cover.type=='parallax') { _%>
        <div class="background parallax-background">
            <%_ headerConfig.cover.image.forEach(image => { _%> 
            <div class="layer" data-depth="<%- image.depth %>" style="background-image:url(<%- url_for(image.url) %>)"></div>
            <%_ }) _%> 
        </div>
        <%_ } _%>
        <!-- Header Title & Description Section -->
        <%_ if(headerConfig.cover.type=='parallax') { _%>
        <div class="content parallax-content">
            <!-- <div class="layer" data-depth="1"> -->
        <%_ } else { _%>
        <div class="content">
        <%_ } _%> 
            <div class="site-info">
                <div class="<%- is_home()?'site-title':'title' %>"><%- headerConfig.title %></div>
                <div class="description">
                    <%_ if(headerConfig.description.type=='normal') { _%>
                    <span><%- headerConfig.description.content %></span>
                    <%_ } else if(headerConfig.description.type=='random') { _%>
                    <script async>
                        let descList = [<%- headerConfig.description.content.toString() %>];
                        let desc = document.querySelector('#header .description');
                        desc.innerHTML = '<span><%- descList[Math.floor(Math.random()*descList.length)] %></span>';
                    </script>
                    <%_ } else if(headerConfig.description.type=='api') { _%>
                    <script async>
                        fetch('<%- headerConfig.description.url %>').then(res=>res.json()).then(data => {
                            let desc = document.querySelector('#header .description');
                            desc.innerHTML = `<span class="hotokoto">`
                                +`<span class="hitokoto-text">${data['<%- headerConfig.description.text_field %>']}</span>`
                                +`<span class="hitokoto-author"> —— ${data['<%- headerConfig.description.from_field %>']}</span>`
                                +`</span>`;
                        });
                    </script>
                    <%_ } _%>
                </div>
            </div>
        <%_ if(headerConfig.cover.type=='parallax') { _%>
            <!-- </div> -->
        </div>
        <%_ } else { _%>
        </div>
        <%_ } _%> 
        <%_ if(headerConfig.scroll_indicator) { _%>
        <div class="indicator" <% if(headerConfig.bottom_effect!='none') { %>style="padding-bottom:3rem"<% } %> >
            <span>SCROLL</span>
            <i class="ri-arrow-down-s-line"></i>
        </div>
        <%_ } _%>
    </div>
    <%_ } else { _%>
    <%_ let cover = page.cover ?? null; _%>
    <div class="cover" style="height:<%- headerConfig.height %>">
        <%_ if(cover == null || cover.type == 'none') { _%>
        <div class="background bg-gradient-<%- Math.floor(Math.random()*10) %>"></div>
        <%_ } else { _%> 
        <div class="background <%= headerConfig.cover === 'mini'?'md:blur-xl md:scale-125':'' %>" style="background-image:url('<%- url_for(cover.path) %>')"></div>
        <%_ } _%> 
        <div class="content">
            <div class="page-info">
                <%_ if(is_category()) { _%>
                <div class="title">
                    <!-- <i class="ri-inbox-line"></i> -->
                    <span> 分类：<%= page.category %></span>
                </div>
                <%_ } else if(is_tag()) { _%>
                <div class="title">
                    <!-- <i class="ri-price-tag-3-line"></i> -->
                    <span> 标签：<%= page.tag %></span>
                </div>
                <%_ } else if(is_archive()) { _%>
                <div class="title">
                    <!-- <i class="ri-archive-line"></i> -->
                    <span> 归档<%= page.year?'：'+page.year:'' %><%= page.month?'/'+page.month:'' %></span>
                </div>
                <%_ } else if(is_page()) { _%>
                <div class="title"><%= page.title %></div>
                <%_ } else if(is_post()) { _%>

                <div class="meta">
                    <%# 文章字数 %>
                    <span class="post-wordcount">
                        <i class="ri-font-size-2"></i>
                        <span>共<%= wordcount(page.content) %>字</span>
                    </span>
                    <%# 文章阅读时长 %>
                    <span class="post-readtime">
                        <i class="ri-time-fill"></i>
                        <span>约<%= min2read(page.content) %>分钟</span>
                    </span>
                </div>
                <div class="title"><%= page.title %></div>
                <div class="meta">
                    <div class="publish-date">
                        <i class="ri-calendar-fill"></i>
                        <span><%= page.date.locale(config.language).format('ll') %></span>
                    </div>
                    <div class="update-date">
                        <i class="ri-edit-2-fill"></i>
                        <span><%= page.updated.locale(config.language).format('ll') %></span>
                    </div>
                </div>
                <%_ if (is_post()) { _%> 
                <div class="meta">
                    <%- partial('../_meta/post_category', { post: page }) %>
                    <%- partial('../_meta/post_tag', { post: page }) %>
                </div>
                <%_ } _%> 
                <%_ } _%>
            </div>
            <%_ if( headerConfig.cover === 'mini' && cover.type !== 'none' ) { _%> 
            <div class="mini-cover">
                <%- image_tag(url_for(cover.path),{
                    alt: page.title,
                    class: 'background-img',
                    crossOrigin: '' 
                }) _%>
            </div>
            <%_ } _%> 
        </div>
    </div>
    <%_ } _%>
    <%_ if(headerConfig.bottom_effect=='cloud') { _%>
    <div class="cloud-bottom"></div>
    <%_ } else if(headerConfig.bottom_effect=='gradient') { _%>
    <div class="gradient-bottom"></div>
    <%_ } else if(headerConfig.bottom_effect=='waves') { _%>
    <div class="waves-bottom">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use id="wave-1" xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,.3)" />
                <use id="wave-2" xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,.5)" />
                <use id="wave-3" xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,.7)" />
                <use id="wave-4" xlink:href="#gentle-wave" x="48" y="7" fill="rgba(255,255,255,1)" />
            </g>
        </svg>
    </div>
    <%_ } _%>
</div>
<%_ } else { _%>
<div class="h-16"></div>
<%_ } _%>