<%  let flatMenu = (menu) => { %>
    <ul class="menu-list">
    <% menu.forEach((item) => { %>
        <%# 分割线 %> 
        <% if(item === 'divider') { %> 
            <li class="menu-divider"></li>
        <% } else { %>
            <% let cascade = item.submenu&&item.submenu.length>0 %> 
            <li class="menu-item">
                <% if(item.url) { %> 
                    <a class="link <%- cascade?'menu-toggle':'' %>" href="<%= item.url %>"><%- item.name %></a>
                <% } else { %>
                    <a class="link <%- cascade?'menu-toggle':'' %>" href="javascript:void(0)"><%- item.name %></a>
                <% } %>
                <%# 递归展开子菜单 %> 
                <% if(cascade) flatMenu(item.submenu) %>
            </li>
        <% } %>
    <% }) %>
    </ul>
<% } %> 
<div class="navigator">
    <div class="content">
        <div class="logo">
            <a href="/"><%- theme.navigator.logo %></a>
        </div>
        <div class="menu">
            <ul class="nav-menu-list">
                <% theme.navigator.menu.forEach((item) => { %>
                    <% let cascade = item.submenu&&item.submenu.length>0 %> 
                    <li class="nav-menu-item">
                        <% if(item.url) { %> 
                            <a class="link <%- cascade?'menu-toggle':'' %>" href="<%= item.url %>"><%- item.name %></a>
                        <% } else { %>
                            <a class="link <%- cascade?'menu-toggle':'' %>" href="javascript:void(0)"><%- item.name %></a>
                        <% } %>
                        <% if(cascade) flatMenu(item.submenu) %>
                    </li>
                <% }) %> 
            </ul>
        </div>
        <div class="toolkit">
        <% if(theme.navigator.search) { %>
            <button class="search"><i class="iconfont icon-search"></i></button>
            <%- partial('../_widget/search') %>
        <% } %>
        </div>        
    </div>
</div>
