<%_  let flatNavMenu = (menu, depth = 0) => { %>
    <ul class="menu">
    <%_ menu.forEach((item) => { _%>
        <%_ if(item === 'divider') { _%> 
        <li class="menu-divider"></li>
        <%_ } else { _%>
        <%_ let cascade = item.submenu&&item.submenu.length>0 _%> 
        <li class="menu-item">
            <%_ if(item.url) { _%> 
            <a class="link <%- cascade?'menu-toggle':'' %>" href="<%= item.url %>"><%- item.name %></a>
            <%_ } else { _%>
            <a class="link <%- cascade?'menu-toggle':'' %>" href="javascript:void(0)"><%- item.name %></a>
            <%_ } _%>
            <%# 递归展开子菜单 _%>
            <%_ if(cascade) flatNavMenu(item.submenu, depth + 1) _%>
        </li>
        <%_ } _%>
    <%_ }) _%>
    </ul>
<%_ } _%>

<%_  let flatNavCollapse = (menu, depth = 0) => { %>
    <%_ menu.forEach((item) => { _%>
        <%_ if(item === 'divider') { _%> 
        <%_ } else { _%>
            <%_ let cascade = item.submenu&&item.submenu.length>0 _%> 
            <%_ if(cascade) { _%>
            <app-list-group>
                <app-list-item slot="toggle">
                    <div slot="prefix">
                        <% for(let i=0; i<depth; i++) { %><span class="blank px-2"></span><% } %> 
                        <i class="iconfont icon-arrow-down inline-block w-4"></i>
                    </div>
                    <div slot="title">
                        <a class="link" href="<%= item.url %>"><%- item.name %></a>
                    </div>
                </app-list-item>
                <%# 递归展开子菜单 _%>
                <%_ if(cascade) { _%>
                <%_ flatNavCollapse(item.submenu, depth + 1) _%>
                <%_ } _%> 
            </app-list-group>
            <%_ } else { _%> 
            <app-list-item>
                <div slot="prefix">
                    <% for(let i=0; i<depth; i++) { %><span class="blank px-2"></span><% } %>
                    <span class="px-2"></span>
                </div>
                <div slot="title">
                    <a class="link" href="<%= item.url %>"><%- item.name %></a>
                </div>
            </app-list-item>
            <%_ } _%>
        <%_ } _%>
    <%_ }) _%>
<%_ } _%>
<div class="navigator nav-hide">
    <div class="content">
        <div class="nav-left-drawer">
            <button class="drawer-toggle" onclick="document.querySelector('#drawer-left').setAttribute('open','')"><i class="ri-menu-line"></i></button>
        </div>
        <div class="nav-logo">
            <a href="/"><%- theme.navigator.logo %></a>
        </div>
        <div class="nav-menu">
            <ul class="nav-menu-list">
            <%_ theme.navigator.menu.forEach((item) => { _%>
                <%_ let cascade = item.submenu&&item.submenu.length>0 _%> 
                <li class="nav-menu-item">
                    <%_ if(item.url) { _%> 
                    <a class="link <%- cascade?'menu-toggle':'' %>" href="<%= item.url %>">
                        <%- item.name %><%_ if(cascade) { _%><i class="ri-arrow-drop-down-fill"></i><%_ } _%> 
                    </a>
                    <%_ } else { _%>
                    <a class="link <%- cascade?'menu-toggle':'' %>" href="javascript:void(0)">
                        <%- item.name %><%_ if(cascade) { _%><i class="ri-arrow-drop-down-fill"></i><%_ } _%> 
                    </a>
                    <%_ } _%>
                    <%_ if(cascade) flatNavMenu(item.submenu) _%>
                </li>
            <%_ }) _%> 
            </ul>
        </div>
        <div class="nav-toolkit">
            <!-- <button class="music-player-toggle"><i class="ri-music-2-fill"></i></button> -->
            <%#- partial('../_widget/music_player') %>
        <%_ if(theme.navigator.darkmode) { _%>
            <button class="dark-theme-toggle" data-tippy-content="深色模式"><i class="ri-contrast-2-line"></i></button>
        <%_ } _%>
        <%_ if(theme.navigator.search) { _%>
            <button class="search-toggle" data-tippy-content="搜索"><i class="ri-search-line"></i></button>
            <%- partial('../_widget/search') %>
        <%_ } _%>
        </div>
        <div class="nav-right-drawer">
            <button class="drawer-toggle" onclick="document.querySelector('#drawer-right').setAttribute('open','')"><i class="ri-layout-right-line"></i></button>
        </div>
    </div>
</div>
<!-- <div class="nav-menu-drawer drawer drawer-closed">
    <#%- partial('../_widget/profile') %>
    <#%_ flatNavCollapse(theme.navigator.menu) _%>
</div> -->
<!-- <div class="nav-sidebar-drawer drawer drawer-closed">
    <div id="sidebar-drawer"><#%- partial('./sidebar') %></div>
</div> -->
<app-drawer id="drawer-left" placement="left" position="fixed">
    <%- partial('../_widget/profile') %>
    <%_ flatNavCollapse(theme.navigator.menu) _%>
</app-drawer>
<app-drawer id="drawer-right" placement="right" position="fixed" width="272px">
    <div id="sidebar-drawer"><%- partial('./sidebar') %></div>
</app-drawer>