<%_  let flatMenu = (menu) => { %>
    <ul class="menu-list">
    <%_ menu.forEach((item) => { _%>
        <%_ if(item === 'divider') { _%> 
        <li class="menu-divider"></li>
        <%_ } else { _%>
        <%_ let cascade = item.submenu&&item.submenu.length>0 _%> 
        <li class="menu-item">
            <%_ if(item.url) { _%> 
            <a class="link <%- cascade?'menu-toggle':'' %>" href="<%= item.url %>"><%- item.name %></a>
            <%_ } else { _%>
            <a class="link <%- cascade?'menu-toggle':'' %>" href="javascript:void(0)"><%- item.name %></a>
            <%_ } _%>
            <%# 递归展开子菜单 _%>
            <%_ if(cascade) flatMenu(item.submenu) _%>
        </li>
        <%_ } _%>
    <%_ }) _%>
    </ul>
<%_ } _%>
<div class="navigator">
    <div class="content">
        <div class="logo">
            <a href="/"><%- theme.navigator.logo %></a>
        </div>
        <div class="menu">
            <ul class="nav-menu-list">
            <%_ theme.navigator.menu.forEach((item) => { _%>
                <%_ let cascade = item.submenu&&item.submenu.length>0 _%> 
                <li class="nav-menu-item">
                    <%_ if(item.url) { _%> 
                    <a class="link <%- cascade?'menu-toggle':'' %>" href="<%= item.url %>"><%- item.name %></a>
                    <%_ } else { _%>
                    <a class="link <%- cascade?'menu-toggle':'' %>" href="javascript:void(0)"><%- item.name %></a>
                    <%_ } _%>
                    <%_ if(cascade) flatMenu(item.submenu) _%>
                </li>
            <%_ }) _%> 
            </ul>
        </div>
        <div class="toolkit">
        <%_ if(theme.navigator.search) { _%>
            <button class="search"><i class="iconfont icon-search"></i></button>
            <%- partial('../_widget/search') %>
        <%_ } _%>
        </div>        
    </div>
</div>