<% if(theme.sidebar.show_toc && is_post() && page.toc != false) { %>
<div class="sidebar-content sticky">
    <div class="tabs">
        <div class="tabs-header" role="tablist">
            <div class="tab" ref-id="tab-panel-overview" role="tab" tabindex="0"><i class="ri-home-2-line"></i><span>概览</span></div>
            <div class="tab tab-activated" ref-id="tab-panel-toc" role="tab" tabindex="0"><i class="ri-file-list-line"></i><span>目录</span></div>
            <div class="glider" aria-hidden="true"></div>
        </div>
        <div class="tabs-content">
            <div class="tab-panel" id="tab-panel-overview" role="tabpanel">
                <div class="tab-panel-content">
                    <% if(theme.sidebar.show_profile) { %><div class="widget card"><%- partial('../_widget/profile') %></div><% } %> 
                    <% if(theme.sidebar.show_tag_cloud) { %><div class="widget card-styleless"><%- partial('../_widget/tag_cloud',{maxCount: 30}) %></div><% } %> 
                    <% if(theme.sidebar.show_category_tree) { %><div class="widget card"><%- partial('../_widget/category_tree',{maxDepth: Infinity}) %></div><% } %>
                </div>
            </div>
            <div class="tab-panel" id="tab-panel-toc" role="tabpanel">
                <div class="tab-panel-content">
                    <div class="widget"><%- partial('../_widget/toc_view') %></div>
                </div>
            </div>
        </div>
    </div>
</div>
<% } else { %>
<div class="sidebar-content">
    <% if(theme.sidebar.show_profile) { %><div class="widget card"><%- partial('../_widget/profile') %></div><% } %> 
    <% if(theme.sidebar.show_tag_cloud) { %><div class="widget card-styleless"><%- partial('../_widget/tag_cloud',{maxCount: 30}) %></div><% } %> 
    <% if(theme.sidebar.show_category_tree) { %><div class="widget card"><%- partial('../_widget/category_tree',{maxDepth: Infinity}) %></div><% } %>
</div>
<% } %> 