<script id="dsq-count-scr" src="//<%= theme.comments.disqusjs.shortname %>.disqus.com/count.js" async></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/disqusjs@1.3/dist/disqusjs.min.css">
<script src="https://cdn.jsdelivr.net/npm/disqusjs@1.3/dist/disqus.min.js"></script>
<div id="disqus_thread"></div>
<script>
var dsqjs = new DisqusJS({
    shortname: '<%= theme.comments.disqusjs.shortname %>',
    siteName: '<%= theme.comments.disqusjs.sitename %>',
    identifier: '<%= decodeURI(page.permalink) %>',
    url: '<%= decodeURI(page.permalink) %>',
    title: '<%= page.title %>',
    api: '<%= theme.comments.disqusjs.api %>',
    apikey: '<%= theme.comments.disqusjs.apikey %>',
    admin: '<%= theme.comments.disqusjs.admin %>',
    adminLabel: '<%= theme.comments.disqusjs.adminLabel %>'
});
</script>