<div class="giscus"></div>
<script src="https://giscus.app/client.js"
        data-repo="<%= theme.comments.giscus.repo %>"
        data-repo-id="<%= theme.comments.giscus.repoId %>"
        data-category="<%= theme.comments.giscus.category %>"
        data-category-id="<%= theme.comments.giscus.categoryId %>"
        data-mapping="<%= theme.comments.giscus.mapping %>"
        data-reactions-enabled="<%= theme.comments.giscus.reactionsEnabled %>"
        data-emit-metadata="<%= theme.comments.giscus.emitMetadata %>"
        data-theme="<%= theme.comments.giscus.theme %>"
        crossorigin="anonymous"
        async>
</script>