<div class="giscus"></div>
<script>
  function loadComments() {
    var script = document.createElement("script");
    script.type = 'text/javascript';
    script.src = 'https://giscus.app/client.js';
    script.async = true;
    script.crossOrigin = 'anonymous';

    script.setAttribute('data-repo','<%= theme.comments.giscus.repo %>');
    script.setAttribute('data-repo-id','<%= theme.comments.giscus.repoId %>');
    script.setAttribute('data-category','<%= theme.comments.giscus.category %>');
    script.setAttribute('data-category-id','<%= theme.comments.giscus.categoryId %>');
    script.setAttribute('data-mapping','<%= theme.comments.giscus.mapping %>');
    script.setAttribute('data-reactions-enabled','<%= theme.comments.giscus.reactionsEnabled %>');
    script.setAttribute('data-emit-metadata','<%= theme.comments.giscus.emitMetadata %>');
    script.setAttribute('data-theme','<%= theme.comments.giscus.theme %>');
    script.setAttribute('data-lang','<%= theme.comments.giscus.lang %>');

    // script.appendChild(document.createTextNode(code));
    document.querySelector('head').appendChild(script);
  }
  loadComments();
</script>
